<div class="container mat-elevation-z5">
  <div class="header">
    <h3>You Have</h3>
  </div>
  <div class="body">
    <mat-chip-list class="mat-chip-list-stacked">
      <p>Balances</p>
      <mat-chip>
        <mat-icon svgIcon="Eth"></mat-icon>
        {{EthBalance}}
      </mat-chip>
      <mat-chip>
        <mat-icon svgIcon="Neoplay"></mat-icon>
        {{EBalance}}
      </mat-chip>
      <mat-chip>
        <mat-icon svgIcon="Neoplay"></mat-icon>
        {{NBalance}}
      </mat-chip>
      <p>Total Token Supply</p>
      <mat-chip>{{totalSupply}} Tokens</mat-chip>
    </mat-chip-list>
  </div>
</div>