<div class="container mat-elevation-z5">
  <div class="header">
    <h3>You Have</h3>
  </div>
  <div class="body">
    <mat-chip-list class="mat-chip-list-stacked">
      <p>Balances</p>
      <mat-chip>
        <mat-icon *ngIf="Eth" svgIcon="Eth"></mat-icon>
        <mat-icon *ngIf="!Eth" svgIcon="Neo"></mat-icon>
        {{EthBalance}}
      </mat-chip>
      <mat-chip>
        <mat-icon svgIcon="Neoplay"></mat-icon>
        {{PlayBalance}}
      </mat-chip>
      <p>Total Token Supply</p>
      <mat-chip>{{totalSupply}} Tokens</mat-chip>
    </mat-chip-list>
  </div>
</div>