.container {
  width: 90%;
  height: 45em;
  justify-content: center;
  padding: 1em;
}
.ethLogo {
  width: 70%;
  margin-left: -15em;
}
app-balance-box {
  float: right;
  max-height: 20em;
  display: flex;
}
.input {
  width: 5em;
}
mat-form-field {
  width: 40%;
  padding: 1em;
}
.address {
  width: 60%;
}
.bet {
  width: 30%;
}
mat-slider {
  width: 70%;
  margin-left: 1em;
}
.bet-field {
  width: 100%;
  display: flex;
}
.sliderbox {
  width: 90%;
}
.sliderbox button {
  float: right;
  background-color: #ffd63b;
  border-color: black;
}
.resultBox {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 5em;
  width: 90%;
  display: flex;
  margin-right: 1em;
}
.resultBox div {
  width: 90%;
  text-align: center;
}
mat-chip-list {
  display: flex;
  justify-content: center;
}
.resultBox h4 {
  width: 90%;
  background-color: black;
  color: white;
  padding: .2em;
  margin-top: -1em;
  border-radius: .3em;
}
